@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../node_modules/aos/dist/aos.css";

@import "/external/slick.css";
@import "/external/slick-theme.css";

body {
  color: #53565B;
}

@media only screen and (min-width: 1024px) {
  .parent-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  }

  .emk-slick {
    .slick-arrow {
      height: 30px !important;
      width: 8rem !important;
      z-index: 10;
    }

    button.slick-next {
      right: -7% !important;
    }

    button.slick-prev {
      left: -7% !important;
    }

    .slick-prev:before {
      content: url("../images/content/lgPrevArrow.svg");
    }

    .slick-next:before {
      content: url("../images/content/lgNextArrow.svg");
    }


  }
}


@media only screen and (max-width: 428px) {
  .main-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  }

  .emk-slick {
    .slick-arrow {
      height: 30px !important;
      width: 8rem !important;
      z-index: 10;
    }

    button.slick-next {
      right: 6% !important;
      top: 115%;
    }

    button.slick-prev {
      left: 6% !important;
      top: 115%;
    }

    .slick-prev:before {
      content: url("../images/content/prev.svg");
    }

    .slick-next:before {
      content: url("../images/content/next.svg");
    }

  }
}


/* Fonts */
@import 'base/fonts';

.font-avenir {
  font-family: 'Avenir'
}

* {
  font-family: Avenir;
}


/* Keyframe */
@keyframes slidein {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.content-sm-nav {
  animation-duration: 300ms;
  animation-name: slidein;
  transition: 300ms cubic-bezier(.55, 0, .46, 1);
}

.visually-hidden {
  opacity: 0;
}


.active-btn-favorites {
  color: #ffffff;
  background: #E89DB9;
  border: 1px solid #E89DB9;
}

footer {
  box-shadow: 0 -5px 21px 0px rgba(0, 0, 0, 0.1);
}

.herobanner {
  .slick-dots {
    position: absolute;
    bottom: 5%;

    li {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #ffffff;

      button:before {
        content: " " !important;
      }
    }

    li.slick-active {
      width: 24px;
      height: 8px;
      border-radius: 1rem;
      background: #53565B;
    }

  }
}

.homepage-modal {
  transition: 500ms cubic-bezier(.55, 0, .46, 1);
}


.first-breadcrumb:after {
  content: " /";
}

.option-filter-by {
  input[type="radio"]:checked {
    background-color: #E89DB9;
  }
}

.header {
  transition: .5s cubic-bezier(.55, 0, .46, 1)
}

.scrolled-header {
  background: white;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  box-shadow: 0 6px 14px -4px rgba(0, 0, 0, 0.2);
}


.content-filter-sm {
  animation-name: fade;
  animation-duration: 500ms;
  transition: all 500ms cubic-bezier(.55, 0, .46, 1);
}

.parent-breadcrumb:after {
  content: " /";
  color: #1b2531;
}

.large-img {
  transition: all 300ms ease-in;
}

.modal {
  transition: all 200ms ease-in;
}